

<div style="margin-top: 20px">

<div class="card text-center">
    <div class="card-header">
        Chart
    </div>
    <div class="card-body">
      <h5 class="card-title">
          Demonstration of types of charts using Angular and Chart.js
            </h5>
      <p class="card-text">
        
          A chart is a graphical representation of data, in which "the data is represented by symbols, such as bars in a bar chart, lines in a line chart, or slices in a pie chart". A chart can represent tabular numeric data, functions or some kinds of qualitative structure and provides different info.<br/>

          The term "chart" as a graphical representation of data has multiple meanings:<br/>
          
        <li> A data chart is a type of diagram or graph, that organizes and represents a set of numerical or qualitative data.</li>
  <li>Maps that are adorned with extra information (map surround) for a specific purpose are often known as charts, such as a nautical chart or aeronautical chart, typically spread over several map sheets.</li>
        <li> Other domain specific constructs are sometimes called charts, such as the chord chart in music notation or a record chart for album popularity.</li>
        

      </p>
      <a  (click)="details()" type="button" class="btn btn-outline-success">Message</a>
    </div>
    <div class="card-footer text-muted">
     @Copyright parul
    </div>
  </div>

</div>


